<%= form_for(reservation) do |f| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this testum from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% slots.in_groups_of(2) do |slot| %>
  <div class="field">
    <%= slot %>
    <%= radio_button_tag :reservation_slot, slot %>
  </div>
<% end %>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
